@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
body {
  font-family: 'Epilogue', sans-serif;
}
.offcanvas {
  /* overriding offcanvas style */
  width: 60% !important;
}

.sub-nav {
  opacity: 0;
  height: 0;
  transition: height 0.3s ease-in-out, opacity 0.6s ease-in-out;
}

.sub-nav.open {
  opacity: 1;
  height: 150px;
}
